@import 'lib/_variables.less';
@import 'helpers.less';
@import 'lib/elements.less';

.problem {
  margin-bottom: 2em;
}
.choice {
  label {
    position: relative;
    display: block;
    width: 100%;
  }
  input {
    visibility: hidden;
    position: absolute;
  }
  .choice-option {
    position: relative;
    cursor: pointer;
    border: 5px solid transparent;
    display: block;
  }
  input:disabled + .choice-option {
    opacity: 0.5;
    cursor: default;
    &+.person-details {
      color: @black;
      text-shadow: 1px 1px 7px @white;
    }
  }
  input:checked + .choice-option {
    border-color: @icy;
  }
  &.correct {
    .choice-option {
      border-color: @minty !important;
      opacity: 1 !important;
    }
  }
  &.incorrect {
    .choice-option {
      border-color: @blam !important;
    }
  }
}
.person-photo {
  .person-details {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: @white;
    text-shadow: 1px 1px black;
    padding: 1em;
    text-align: right;
    span {
      display: block;
    }
    .person-name {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 1px;
    }
    .person-position {
      font-size: 11px;
      font-style: italic;
      font-weight: 300;
    }
  }
  &.correct {
    .person-details {
      color: @white !important;
      text-shadow: 1px 1px @black !important;
    }
  }
}
.face-to-name {

}
.name-to-face {
  .choices {
    padding-top: 2em;
  }
  .choice {
    margin: 2em;
  }
  .choice-name {
    margin: 0;
  }
}

.name-to-face, .answer {
  .person-photo .person-details {
    bottom: 10px;
    right: 15px;
  }
}

.problem-answers {
  margin: 4em 0;
}
.answers-heading {
  text-align: center;
}
.answer {
  margin-top: 1em;
  text-align: center;
  &.incorrect {
    img {
      opacity: 0.5;
    }
  }
}
.answer-heading {
  margin: 0 0 0.6em;
}
