<template name="quizResults">
  <div class="page-header">
    <h1>Results <small>{{score}} / {{possibleScore}}</small></h1>
  </div>

    {{#each problems}}
    <div class="problem-answers clearfix">
      <h2 class="text-center">{{solution.name}}</h2>
      <p class="text-center"><em>{{solution.position}}</em></p>
      <div class="answer col-xs-6 correct">
        <p class="answer-heading">Correct Answer</p>
        {{#with solution}}
          <img src="{{photo}}" alt="{{name}}">
        {{/with}}
      </div>
      <div class="answer col-xs-6 submitted {{answerClasses}}">
        <p class="answer-heading">Your Answer</p>
        {{#with yourAnswer}}
          <img src="{{answeredPhoto ..}}" alt="{{name}}">
        {{/with}}
      </div>
    </div>
    {{/each}}

    <h2 class="text-center">
      <a href="{{pathFor route='quizNew'}}">Quiz me again!</a>
    </h2>
</template>
