<template name="quiz">
    {{#if quizCompleted}}
      {{> quizResults}}
    {{else}}

      {{#with currentProblem}}
        <div class="quiz-progress">{{progressTracker}}</div>
        <form id="form_{{id}}" class="problem-form" action="POST">
          <input type="hidden" name="quiz" value="{{../_id}}">
          <h2 class="problem-header">Which one is <strong>{{this.solution.name}}</strong>?</h2>
          <ul class="choices">

            {{#each this.choices}}
              <li class="choice photo {{answerClasses ..}}">
                <label>
                  <input type="radio" name="{{../id}}" value="{{this._id}}"
                  required disabled={{choiceDisabled ..}} checked={{choiceChecked ..}} />
                  <img src="{{photoSrc ..}}"/>
                  {{#if ../answerSubmitted}}
                    <div class="person-details">
                      <span class="person-name">{{name}}</span>
                      <span class="person-position">{{position}}</span>
                    </div>
                  {{/if}}
                </label>
              </li>
            {{/each}}

          </ul>
          <p>
            {{#if answerSubmitted}}
              {{#unless problemsCompleted}}
                <button type="button"
                  class="next-problem btn btn-lg btn-block btn-default">
                  Next >
                </button>
              {{/unless}}
            {{else}}
              <button type="submit"
                class="problem-submit btn btn-lg btn-block btn-default"
                value="{{id}}">Submit</button>
            {{/if}}
          </p>
        </form>
      {{/with}}

      {{#if problemsCompleted}}
        {{#unless answerSubmitted}}
          <button class="quiz-submit btn btn-primary btn-lg btn-block"
            value={{../_id}}>See Results</button>
        {{/unless}}
      {{/if}}

    {{/if}}
</template>
