<template name="quiz">
    {{#each problems}}
      <form id="form_{{id}}" class="problem-form" action="POST">
        <input type="hidden" name="quiz" value="{{../_id}}">
        <h2 class="problem-header">Which one is {{this.solution.name}}?</h2>
        <ul class="choices">

          {{#each this.choices}}
            <li class="choice photo {{answerClasses ..}}">
              <label>
                <input type="radio" name="{{../id}}" value="{{this._id}}"
                required disabled={{choiceDisabled ..}} checked={{choiceChecked ..}} />
                <img src="{{photoSrc ..}}"/>
              </label>
            </li>
          {{/each}}

        </ul>
        <button type="submit" class="problem-submit button ui"
          value="{{id}}">Submit</button>
        {{#if answerSubmitted}}
          <p>{{correctMessage this.correct}}</p>
        {{/if}}
      </form>
    {{/each}}
    <button class="quiz-submit btn btn-primary btn-large" value={{_id}}>Submit Quiz</button>
</template>
