<template name="quizNew">
  <div class="page-header">
    <h1>Quiz Options</h1>
  </div>
  <form action="POST" id="new-quiz" class="form-horizontal">
    <div class="form-group">
      <label for="quiz-type" class="col-sm-2 control-label">
        Type</label>
        <div class="col-sm-8">
          <select id="quiz-type" name="type"
            class="form-control">
            <option value="faceToName" selected>Face to Name</option>
            <option value="nameToFace">Name to Face</option>
            <option value="random">Randomize it!</option>
          </select>
        </div>
    </div>
    <div class="form-group">
      <label for="quiz-difficulty" class="col-sm-2 control-label">
        Difficulty</label>
        <div class="col-sm-8">
          <select id="quiz-difficulty" name="difficulty"
            class="form-control">
            <option value="easy" selected>Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
        </div>
    </div>
    <div class="form-group">
      <label for="quiz-problem-count" class="col-sm-2 control-label">
        Number of Questions</label>
        <div class="col-sm-8">
          <select id="quiz-problem-count" name="problem_count"
            class="form-control">
            <option value="10" selected>10</option>
            <option value="25">25</option>
            <option value="40">40</option>
          </select>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="startQuiz" type="submit"
          class="btn btn-lg btn-primary">Start Quiz</button>
      </div>
    </div>
  </form>
</template>
